* {
    margin: 0;
    padding: 0;
    box-shadow: beige;
}

body {
    height: 100vh;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(1,83,201,1) 0%, rgba(255,0,159,1) 100%);
    color: #fff;
}

.temp {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.degree {
    font-size: 40px;
}