ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}


.gnb {
    display: flex;
    gap: 20px;
}

.gnb a {
    display: block;
    padding: 20px;
}


.gnb li.on a {
    color: red;
    font-weight: bold;

}


p {
    height: 500px;
    padding: 50px;
    text-align: center;
    background-color: #ddd;
}